/*!
Version: 1.0.0
*/

@font-face {
    font-family: "Druk Wide";
    src: url("../fonts/DrukWide-Medium.eot");
    src:
        url("../fonts/DrukWide-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/DrukWide-Medium.woff2") format("woff2"),
        url("../fonts/DrukWide-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Druk Wide";
    src: url("../fonts/DrukWide-MediumItalic.eot");
    src:
        url("../fonts/DrukWide-MediumItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/DrukWide-MediumItalic.woff2") format("woff2"),
        url("../fonts/DrukWide-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Druk Wide";
    src: url("../fonts/DrukWide-Bold.eot");
    src:
        url("../fonts/DrukWide-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/DrukWide-Bold.woff2") format("woff2"),
        url("../fonts/DrukWide-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Druk Wide";
    src: url("../fonts/DrukWide-BoldItalic.eot");
    src:
        url("../fonts/DrukWide-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/DrukWide-BoldItalic.woff2") format("woff2"),
        url("../fonts/DrukWide-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Druk Wide";
    src: url("../fonts/DrukWide-Heavy.eot");
    src:
        url("../fonts/DrukWide-Heavy.eot?#iefix") format("embedded-opentype"),
        url("../fonts/DrukWide-Heavy.woff2") format("woff2"),
        url("../fonts/DrukWide-Heavy.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Druk Wide";
    src: url("../fonts/DrukWide-HeavyItalic.eot");
    src:
        url("../fonts/DrukWide-HeavyItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/DrukWide-HeavyItalic.woff2") format("woff2"),
        url("../fonts/DrukWide-HeavyItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@import url("https://use.typekit.net/phd3vdh.css");

@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-sans,
    .font-serif,
    .font-mono {
        letter-spacing: 0.0625rem;
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply touch-manipulation;
    }

    [x-cloak] {
        @apply hidden;
    }
}
